.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
  color: #278408;
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
  color: #147c99;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
  color: #c92c2c;
}

.token.punctuation {
  color: #5f6364;
}

.language-css .token.string,
.style .token.string {
  color: #906a46;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6a657a;
}
